fastapi
uvicorn
pdfplumber
pytesseract
sentence-transformers
groq
reportlab
PyYAML
pytest
python-multipart
numpy
requests
jinja2
python-dotenv
pydantic-settings
langchain
langchain-community
sqlalchemy
rank_bm25
rapidfuzz
